/* main */

@font-face {
    font-family: Gilroy;
    src: url("https://raw.githubusercontent.com/mavka-org/mavka-web/master/src/fonts/Gilroy-Regular.woff");
}

@font-face {
    font-family: Gilroy;
    src: url("https://raw.githubusercontent.com/mavka-org/mavka-web/master/src/fonts/Gilroy-RegularItalic.woff");
    font-style: italic;
}

@font-face {
    font-family: Gilroy;
    src: url("https://raw.githubusercontent.com/mavka-org/mavka-web/master/src/fonts/Gilroy-Semibold.woff");
    font-weight: bold;
}

@font-face {
    font-family: Gilroy;
    src: url("https://raw.githubusercontent.com/mavka-org/mavka-web/master/src/fonts/Gilroy-SemiboldItalic.wofff");
    font-weight: bold;
    font-style: italic;
}

.page {
    display: flex;
    flex-direction: column;
    padding: 105px 0px;
    position: absolute;
    width: 945px;
    height: 160%;
    left: calc(50% - 945px/2);
    top: 0px;
    background-color: #FFFFFF;
    font-family: Gilroy;
    font-size: 18px;
    line-height: 22px;
}

.question_header {
    width: 100%;
    height: 85.5px;
}

.title_bar {
    font-size: 22px;
    line-height: 27px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.end {
    width: 157.5px;
    height: 38.5px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0px 0px;
    font-family: Gilroy;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    transition: 0.3s ease-in;
    
}
.end:focus{
    outline:0;
}
.end:hover{
    background-color: black;
    color:white;
}
/* body */

.question_body {
    display: flex;
    flex-direction: row;
    padding: 0px;
    width: 945px;
    height: 100%;
    background-color: #FFFFFF;
}

/* qustion_form */

.question_form {
    display: flex;
    flex-direction: column;
    width: 46%;
    margin-top: 20px;
}

.result_frame {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    
}

.result {
    height: 100%;
    font-size: 22px;
    line-height: 27px;
}

.btn {
    width: 282px;
    height: 38.5px;
    background: #000000;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-family: Gilroy;
    font-size: 18px;
    line-height: 22px;
    transition: 0.2s ease-out;
    border:none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.28);
}
.btn:hover{
    opacity: 0.9;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.56);
}
.btn:focus{
    outline:0;
}

/* topic frame */

/* video frame */

.video {
    width: 459px;
    height: 275.4px;
    background-color: black;
}

/* answer frame */

.answers_frame {
    display: flex;
    flex-direction: column;
    padding: 0px;
    align-self: flex-start;
    width: 48%;
    margin-left: 4.5%;

}
.answer:focus{
    outline:0;
}
.answer:hover{
    border: 1px black solid
}

.answer_text{
    font-size: 18px;
}
.choose {
    font-size: 20px;
    line-height: 24px;
}

.answer {
    display: flex;
    flex-direction: column;
    padding: 2% 16px;
    min-width: 96%;
    max-width: 96%;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
    border: 1px white solid;
    border-radius: 10px;
    align-self: center;
    margin-bottom: 7px;
    transition: 0.2s linear;
}

.answer_text_frame {
    display: flex;
    flex-direction: row;
    padding: 0px;
    flex: none;
    align-self: flex-start;
    align-items: baseline;
    font-size: 16px;
    line-height: 20px;
    
}

.letter_choice {
    vertical-align: middle;
    font-size: 22px;
    line-height: 27px;
    margin-right: 21px;
}

.check {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.symbol > svg{
    padding-bottom: 4px;
    padding-right: 8px;
    vertical-align: middle;
}
.comment {
    font-size: 15px;
    line-height: 19px;
    margin-left: 16px;
    margin-bottom: 16px;
}


.pass{
    font-size: 18px;
    line-height: 22px;
    color:gray;
    opacity:0.8;
    text-decoration: underline;
    background-color: #FFFFFF;
    border:none;
    margin-top:16px;
}