.answer {
    display: flex;
    flex-direction: column;
    padding: 2% 16px;
    min-width: 96%;
    max-width: 96%;
    background: #FFFFFF;
    border-radius: 10px;
    align-self: center;
    margin-bottom: 7px;
    transition: 0.2s linear;
}

.answer_text {
    font-size: 18px;
    margin-bottom: 16px;
    
}

.answer_text_frame {
    display: inline-flex;
    align-items: baseline;
    flex-direction: row;
    padding: 0px;
    flex: none;
    align-self: flex-start;
    font-size: 16px;
    line-height: 20px;
    margin-top: 21px;
    
}

.letter_choice {
    vertical-align: middle;
    font-size: 22px;
    line-height: 27px;
    margin-right: 21px;
}

.check {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
