@font-face {
    font-family: Gilroy;
    src: url("https://raw.githubusercontent.com/mavka-org/mavka-web/master/src/fonts/Gilroy-Regular.woff");
}

@font-face {
    font-family: Gilroy;
    src: url("https://raw.githubusercontent.com/mavka-org/mavka-web/master/src/fonts/Gilroy-RegularItalic.woff");
    font-style: italic;
}

@font-face {
    font-family: Gilroy;
    src: url("https://raw.githubusercontent.com/mavka-org/mavka-web/master/src/fonts/Gilroy-Semibold.woff");
    font-weight: bold;
}

@font-face {
    font-family: Gilroy;
    src: url("https://raw.githubusercontent.com/mavka-org/mavka-web/master/src/fonts/Gilroy-SemiboldItalic.wofff");
    font-weight: bold;
    font-style: italic;
}
.background{
    
}
.page_ {
    background-color: #FFFFFF;
    font-family: Gilroy;
    font-size: 18px;
    line-height: 22px;
    
}

.question_header {
    width: 100%;
    height: 85.5px;
}

.title_bar {
    font-size: 22px;
    line-height: 27px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.end {
    width: 157.5px;
    height: 38.5px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0px 0px;
    font-family: Gilroy;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    transition: 0.2s ease-in-out;
}

.end:focus {
    outline: 0;
}

.end:hover {
    background-color: black;
    color: white;
}
/* answer */

.answer {
    display: flex;
    flex-direction: column;
    padding: 2% 16px;
    min-width: 96%;
    max-width: 96%;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
    border: 1px white solid;
    border-radius: 10px;
    align-self: center;
    margin-bottom: 7px;
    transition: 0.2s linear;
}

.answer_text {
    font-size: 18px;
    margin-bottom: 16px;
}

.answer:focus {
    outline: 0;
}
.answer:hover {
    border: 1px black solid
}

.answer_text_frame {
    display: flex;
    flex-direction: row;
    padding: 0px;
    flex: none;
    align-self: flex-start;
    align-items: baseline;
    font-size: 16px;
    line-height: 20px;
}

.letter_choice {
    vertical-align: middle;
    font-size: 22px;
    line-height: 27px;
    margin-right: 21px;
}

.choose {
    font-size: 18px;
    line-height: 22px;
}

.check {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.symbol>svg {
    padding-bottom: 4px;
    padding-right: 8px;
    vertical-align: middle;
}

.comment {
    font-size: 15px;
    line-height: 19px;
    margin-left: 16px;
    margin-bottom: 16px;
}

/* result */

.result_frame {
    margin-bottom: 15px;
}

.result {
    font-size: 22px;
    line-height: 27px;
}

.stats {
    width: 282px;
}

.wrap {
    display: flex;
    width: 63%;
    flex-direction: column;
    vertical-align: middle;
}

.btn {
    width: 282px;
    height: 38.5px;
    background: #000000;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-family: Gilroy;
    font-size: 18px;
    line-height: 22px;
    transition: 0.2s ease-out;
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.28);
    align-self: flex-start;
}

.btn:hover {
    opacity: 0.9;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.56);
}

.btn:focus {
    outline: 0;
}

.pass {
    font-size: 18px;
    line-height: 22px;
    color: gray;
    opacity: 0.8;
    text-decoration: underline;
    background-color: #FFFFFF;
    border: none;
    margin-top: 16px;
    transition: 0.2s ease-in;
}

.pass:focus {
    outline: 0;
}

.pass:hover {
    color: black
}

/* topics */

.video {
    width: 459px;
    height: 275.4px;
    background-color: black;
}