.page {
    display: flex;
    flex-direction: column;
    padding: 105px 0px;
    position: absolute;
    width: 945px;
    left: calc(50% - 945px/2);
    top: 0px;
}

/* body */

.question_body{
    display: flex;
    flex-direction: row;
}

/* qustion_form */

.question_form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 20px;
}
/* answer frame */

.answers_frame {
    display: flex;
    flex-direction: column;
    padding: 0px;
    align-self: flex-start;
    width: 50%;
    margin-left: 59px;
}
.wrap{
    display: flex;
    width: 67%;
    flex-direction: column;
    vertical-align: middle;
}