.background{
    font-family:'Gilroy';
}
/* main */
.page{
    display: flex;
    flex-direction: column;
    padding: 105px 0px;

    position: absolute;
    width: 945px;
    height: 2000%;
    left: calc(50% - 945px/2);
    top: 0px;
    background-color: #FFFFFF;
}

.question_header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85.5px;
    

}

.title_bar{
    font-size:22px;
    line-height: 27px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}
.title{
    font-size:18px;
}
.end{
width: 157.5px;
height: 38.5px;
background: #FFFFFF;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 10px;
margin: 0px 0px;
font-size: 18px;
line-height: 22px;
font-family:'Gilroy';
}


.question_frame p{
    font-size: 18px;
}

.number{
    margin-right: 21px;
}
/* answers */

.main_answers > p{
    font-size:18px;
}
.answers_frame{
    display: flex;
    flex-direction: row;
}
.answer{
    width:50;
    display: flex;
    flex-direction: column;
}

.variant{
    display: flex;
    flex-direction: row;
    font-size: 18px;
}

.inp{
padding: 8px 16px;
width: 102px;
height: 33px;
background: #FFFFFF;
border: 1px solid #E8E8E8;
box-sizing: border-box;
border-radius: 10px;
align-self: flex-start;
font-size: 18px;
line-height: 22px;
font-family:'Gilroy';
}


.correct_answer{
    display:flex;
    flex-direction: row;
    align-items: baseline;
}
.correct_number{
    margin-top:17px;
}
.comment{
    font-size: 16px;
}

/* result */


.result{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
}
.result_frame{
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.correct_message{
    font-weight: bold;
    font-size: 20px;
}
.correct_result{
    font-size:18px;
    margin-top: 14px;
}
.btn{    
    width: 282px;
    height: 38.5px;
    background: #000000;
    border-radius: 10px;
    margin-top:14px;
    color:white;
    font-size: 18px;
    line-height: 17px;
    font-family: 'Gilroy';
    font-weight: bold;
}

.topic_frame{
    font-size: 20px;
    line-height: 24px;
}
.stats{
    font-size: 18px;
    line-height: 22px;
}
.topic_frame_text{
    font-size: 18px;
    line-height: 22px;
}
.comment_frame{
    font-size: 20px;
    line-height: 24px;
}
.comment_frame_text{
    font-size: 18px;
    line-height: 22px;
}
.video_explanation_frame{
    font-size: 20px;
    line-height: 24px;
}
/* video frame */
.video{
    width: 459px;
    height: 275.4px;
    background-color: black;
}